<% include partials/header %>

    <!--<aside>
        <ul>
            <a href="gs.html"><li>Basic Commands</li></a>
            <a href="gs.html"><li>Content 1</li></a>
            <a href="gs.html"><li>Content 2</li></a>



        </ul>
        
    </aside>-->

    

    <div class="container">
      <h1>Some Linux Basic Commands</h1>
      <div class = "point">
        <h2>Showing Working Directory</h2>
        <p>Usually when you a open a terminal, what you see usually ends up with a <span class="sign">$</span> or a <span class = "sign">#</span> as seen below. If you're using Ubuntu on a virtual machine for example, this is what you would usually see:</p>
        <pre><code class="bash"><span class = "user">user@user-VirtualBox</span>:<span class="sign">~</span>$ </code></pre>
        <p>The above is also the same as:</p>
        <pre><code class="bash"><span class = "user">user@user-VirtualBox</span>:<span class="sign">/home/user</span>$ </code></pre>
        <p>So when you type in 'pwd':</p>
        <pre><code class="bash"><span class = "user">user@user-VirtualBox</span>:<span class="sign">~</span>$ pwd</code></pre>
        <p>The output will be:</p>
        <pre><code class="bash">/home/user</code></pre>
        <p>Knowing that 'pwd' stands for 'print working directory' could help you remember the function of the command.</p>
      </div>
      <div class = "point">
        <h2>Showing Contents of a Folder</h2>
        <p>To show the contents of a folder, the command to type is 'ls'. This stands for 'list'. Typing this will show all files and folder in your current working directory</p>
        <pre><code class="bash">ls</code></pre>
      </div>
      <div class = "point">
        <h2>Making a New Directory</h2>
        <p>A command used to create new directory is 'mkdir' which stands for 'make directory'. Usage is:</p>
        <pre><code class="bash">mkdir newDirName</code></pre>
      </div>
      <div class = "point">
        <h2>Creating a New File</h2>
        <p>The command to make new file is 'touch'. Usage is:</p>
        <pre><code class="bash">touch newFile.txt</code></pre>
        <p>'newFile.txt' should now be in 'newDirName'. Type 'ls' to confirm.</p>
      </div>

      <div class = "point">
        <h2>Deleting a File</h2>
        <p>'rm' is the command to delete a file. It stands for 'remove'. Usage:</p>
        <pre><code class="bash">rm newFile.txt</code></pre>
        </div>
      <div class = "point">
        <h2>Deleting a Folder</h2>
        <p>Type in 'rm -r' to delete a folder. Usage:
        <pre><code class="bash">rm -r newDirName</code></pre>
        </div>
    
        

    </div>
    
 
<% include partials/footer %>