<% include partials/header %>

    <div class="container">
      <div class="jumbotron">
        <h1>Welcome to BashTerminal.com</h1>
        <h2>This website is being developed but you can click <a href="/basics">here</a> to learn about some basic Linux commands</h2>
      </div>
    </div>
    
<% include partials/footer %>
 